In [5]:
import numpy as np
import sklearn
import pandas as pd

In [6]:
# Note: I've put the csv files in a folder called data
train = pd.read_csv("train.csv", index_col=0)
val = pd.read_csv("dev.csv", index_col=0)

In [7]:
train.shape

(15539, 2)

In [8]:
val.shape

(1316, 2)

In [9]:
train.head()

,labels,features
ex_id,,
0,"446,521,1149,1249,1265,1482",0:0.084556 1:0.138594 2:0.094304 3:0.195764 4:...
1,"78,80,85,86",0:0.050734 1:0.762265 2:0.754431 3:0.065255 4:...
2,"457,577,579,640,939,1158",0:0.101468 1:0.138594 2:0.377215 3:0.130509 4:...
3,"172,654,693,1704",0:0.186024 1:0.346484 2:0.141456 3:0.195764 4:...
4,"403,508,1017,1052,1731,3183",0:0.135290 1:0.277187 2:0.141456 3:0.065255 4:...

In [10]:
val.head()

,labels,features
ex_id,,
3,"105,897",0:0.118379 1:0.346484 2:0.424367 3:0.195764 4:...
6,"25,419,586,802,2200",0:0.084556 1:0.970155 2:0.471519 3:0.261019 4:...
8,"445,499,814,1135,1255,1943",0:0.050734 1:1.524530 2:2.027533 3:0.652547 5:...
11,"125,502,2167",0:0.118379 2:0.235760 3:0.065255 4:0.262522 7:...
12,"48,57,86,180",0:0.033823 1:0.103945 2:0.094304 3:0.195764 4:...

In [11]:
val = val[~val.labels.str.contains(":")]

In [12]:
train = train[~train.labels.str.contains(":")]

In [13]:
val.shape, train.shape

((1314, 2), (15511, 2))

# Remove broken label examples

In [14]:
labels_list = [label.split(" ") for label in train['labels']]
labels_list = [label[0].split(",") for label in labels_list]
labels_list_val = [label.split(" ") for label in val['labels']]
labels_list_val = [label[0].split(",") for label in labels_list_val]

In [15]:
# # drop the broken indices - found them using this - need to ask on Piazza what's wrong with them
# broken_indices = []
# for i in range(len(labels_list)):
#     for j in range(len(labels_list[i])):
#         try:
#             int(labels_list[i][j])   
#         except:
#             #print(i, labels_list[i])
#             broken_indices.append(i)

In [16]:
# # drop the broken indices - found them using this - need to ask on Piazza what's wrong with them
# broken_indices_val = []
# for i in range(len(labels_list_val)):
#     for j in range(len(labels_list_val[i])):
#         try:
#             int(labels_list_val[i][j])   
#         except:
#             #print(i, labels_list[i])
#             broken_indices_val.append(i)

In [17]:
# labels_array = np.array(labels_list)
# #labels_list = np.delete(labels_array, broken_indices).tolist()
# labels_array_val = np.array(labels_list_val)
# labels_list_val = np.delete(labels_array_val, broken_indices_val).tolist()

In [18]:
len(labels_list), len(labels_list_val)

(15511, 1314)

# Convert labels

In [19]:
labels_list = [[int(s) for s in sublist] for sublist in labels_list]

In [20]:
labels_list_val = [[int(s) for s in sublist] for sublist in labels_list_val]

In [21]:
labels_list[0:10]

[[446, 521, 1149, 1249, 1265, 1482],
 [78, 80, 85, 86],
 [457, 577, 579, 640, 939, 1158],
 [172, 654, 693, 1704],
 [403, 508, 1017, 1052, 1731, 3183],
 [174, 379, 380, 381, 449, 493, 677, 1328],
 [592, 595, 617, 694, 923],
 [446, 499, 500, 671, 804, 1210],
 [64, 180, 611],
 [505, 1098, 1310, 1818, 3263]]

In [22]:
from sklearn.preprocessing import MultiLabelBinarizer
class_list = [i for i in range(0,3993)]
mlb = MultiLabelBinarizer(classes=class_list)
encoded_labels = mlb.fit_transform(labels_list)

In [23]:
encoded_labels_val = mlb.fit_transform(labels_list_val)

In [24]:
encoded_labels_df_val = pd.DataFrame(encoded_labels_val, columns = class_list)
encoded_labels_df = pd.DataFrame(encoded_labels, columns = class_list)

In [25]:
encoded_labels_df_val.head()

,0,1,2,3,4,5,6,7,8,9,...,3983,3984,3985,3986,3987,3988,3989,3990,3991,3992
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
encoded_labels_df.head()

,0,1,2,3,4,5,6,7,8,9,...,3983,3984,3985,3986,3987,3988,3989,3990,3991,3992
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Convert features

In [27]:
def make_dict(entry):
    # entry is a list with form ['id:value', 'id:value']
    col_dict = {}
    for word in entry:
        key, value = word.split(":")
        key = int(key)
        value = float(value)
        col_dict[key] = value
    return col_dict

In [28]:
# drop broken indices
train_df = train['features']
#train_df = train_df.drop(broken_indices, axis=0)
val_df = val['features']

In [29]:
train_df.shape, val_df.shape

((15511,), (1314,))

In [30]:
features = [item.split(" ") for item in train_df]
col_dicts = [make_dict(entry) for entry in features]

In [31]:
len(col_dicts)

15511

In [32]:
features_val = [item.split(" ") for item in val_df]
col_dicts_val = [make_dict(entry) for entry in features_val]

In [33]:
len(col_dicts_val)

1314

In [34]:
# Turn features column into sparse dataframe
# Note: missing values as NaN - should these be zeros?
features_df = pd.DataFrame(col_dicts)
features_df_val = pd.DataFrame(col_dicts_val)

In [35]:
features_df.shape

(15511, 5000)

In [36]:
features_df_val.shape

(1314, 5000)

In [37]:
features_df.head()

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0.084556,0.138594,0.094304,0.195764,0.612552,0.106491,0.137765,0.145839,0.304610,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.050734,0.762265,0.754431,0.065255,0.350030,NaN,0.137765,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.101468,0.138594,0.377215,0.130509,0.175015,0.745434,0.137765,1.020873,1.218441,0.309297,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.186024,0.346484,0.141456,0.195764,0.262522,0.425962,0.551062,0.437517,0.609220,0.618594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.135290,0.277187,0.141456,0.065255,1.137597,0.106491,0.137765,0.583356,0.152305,0.154649,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
features_df_val.head()

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0.118379,0.346484,0.424367,0.195764,0.350030,0.212981,0.137765,0.145839,0.152305,0.309297,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.084556,0.970155,0.471519,0.261019,0.350030,0.745434,0.275531,0.291678,1.675356,0.463946,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.050734,1.524530,2.027533,0.652547,NaN,5.005057,0.137765,0.583356,3.503017,0.618594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.118379,NaN,0.235760,0.065255,0.262522,NaN,NaN,0.145839,0.609220,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.033823,0.103945,0.094304,0.195764,0.175015,0.745434,0.137765,0.145839,0.304610,0.618594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### CC and ECC implementation

In [39]:
from sklearn.multioutput import ClassifierChain
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import label_ranking_average_precision_score
from sklearn.svm import SVC

In [40]:
features_df = features_df.fillna(0)
features_df_val = features_df_val.fillna(0)

In [41]:
X_train = np.array(features_df)
Y_train = np.array(encoded_labels_df)
x_val = np.array(features_df_val)
y_val = np.array(encoded_labels_df_val)

In [42]:
X_train.shape

(15511, 5000)

In [43]:
x_val

array([[0.118379, 0.346484, 0.424367, ..., 0.      , 0.      , 0.      ],
       [0.084556, 0.970155, 0.471519, ..., 0.      , 0.      , 0.      ],
       [0.050734, 1.52453 , 2.027533, ..., 0.      , 0.      , 0.      ],
       ...,
       [0.033823, 0.20789 , 0.047152, ..., 0.      , 0.      , 0.      ],
       [0.050734, 0.20789 , 0.188608, ..., 0.      , 0.      , 0.      ],
       [0.050734, 0.381132, 0.282912, ..., 0.      , 0.      , 0.      ]])

In [44]:
y_val

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

## Linear Regression

In [45]:
from sklearn.linear_model import RidgeClassifierCV

In [61]:
clf = RidgeClassifierCV()
clf.fit(X_train,Y_train)

RidgeClassifierCV(alphas=array([ 0.1,  1. , 10. ]), class_weight=None, cv=None,
                  fit_intercept=True, normalize=False, scoring=None,
                  store_cv_values=False)

In [49]:
y_score = clf.predict(x_val,y_val)

ValueError: Classification metrics can't handle a mix of multilabel-indicator and multiclass targets

## MLPClassifier

In [60]:
from sklearn.neural_network import MLPClassifier

In [62]:
layers=[(100, 100),(100, 100, 100),(500, 500),(500, 500, 500),(1000,),(1000, 1000)]
lr =[0.001,0.0001]

In [64]:
results=[]
for i in layers:
    for j in lr:
        mlp = MLPClassifier()
        mlp.fit(X_train,Y_train)
        y_score = mlp.predict_proba(x_val)
        precision =label_ranking_average_precision_score(y_val, y_score)
        print(precision,i,j)
        results.append(precision)

0.5345587874620341 (100, 100) 0.001
0.5108980563328845 (100, 100) 0.0001
0.5243007461322696 (100, 100, 100) 0.001
0.5297083073570572 (100, 100, 100) 0.0001
0.5385966926746545 (500, 500) 0.001

/Users/camilletaltas/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

0.5160107661741486 (500, 500) 0.0001
0.5271962177803886 (500, 500, 500) 0.001
0.5262179816071868 (500, 500, 500) 0.0001
0.5351347623163627 (1000,) 0.001
0.529064137340734 (1000,) 0.0001
0.5263284053706728 (1000, 1000) 0.001
0.5196495886513702 (1000, 1000) 0.0001

In [ ]:
results